.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1f1f1f, #292929);
  }
  
  .auth-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
  }
  
  .auth-logo {
    height: 70px;
    margin-bottom: 1rem;
  }
  
  .auth-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .auth-btn {
    width: 100%;
    padding: 10px;
    background-color: #f5b942;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .auth-btn:hover {
    background-color: #e3a72e;
  }
  
  .auth-link {
    margin-top: 1rem;
    color: #0077cc;
    cursor: pointer;
  }
  
  .auth-google {
    margin: 1rem 0;
  }
  
  